################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj/Debug
/packages
/obj/Release/Trie.csproj.CoreCompileInputs.cache
/obj/Release/Trie.csprojAssemblyReference.cache
